/* Faraz Durrani */


#container {
    margin-left: 70px;
    margin-right: 70px; 
}

body {
    background-color: rgb(231,147,35);
}
#headerdiv {
    width: 90%;
    height: 60px;
    padding: 25px 5%;
    /* position: fixed; */
    /* z-index: 10; */
    /* background-color: rgb(255,234,171); */
    background-image: url('../images/headerbackground.jpg') !important;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Droid Sans, sans-serif;
}

#headerdivleftsideimg {
    float: left;
}
#headerdivrightsidenavbar1 {
    float: right;
    margin: 10px;
}
#headerdivrightsidenavbar2 {
    float: right;
    margin: 10px;
}
#headerdivrightsidenavbar3 {
    float: right;
    margin: 10px;
}
#headerdivrightsidenavbar4 {
    float: right;
    margin: 10px;
}
#headerdivrightsidenavbar5 {
    float: right;
    margin: 10px;
}

#headerdivrightsidenavbar6 {
    float: right;
    margin: 10px;
}

#headerdivrightsidenavbar1 a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.clear {
    clear: both;
}

* {
    padding: 0;
    margin: 0;
}

#comeforpizza {
    margin: 100px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.submitButtonCart {
    background-color: darkturquoise;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#headerdivrightsidenavbar1 a:hover { 
    background:rgb(210, 32, 48); 
    padding: 10px; 
    color: white !important;
    text-shadow: 1px 1px 1px #000000;
}

#headerdivrightsidenavbar4 a:hover { 
    color: white !important;
    text-shadow: 1px 1px 1px #000000;
}
#headerdivrightsidenavbar4 a {
    text-decoration: none;
    margin: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif
}
